.button {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: #2aab6d;
  box-sizing: border-box;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .button {
    width: 300px;
  }
}
