.intro-download {
  position: relative;
}

.download {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 28px $content-padding 30px;
  background-color: #1d2631;
}

.download__title {
  display: none;
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
  color: $white;
}

.download__list {
  @include list-reset;
  width: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
}

.download__item--default {
  width: 100%;
}

.download__link {
  @include indent-reset;
  display: block;

  &--default {
    width: 100%;
    margin-bottom: 32px;
    padding: 18px 0 19px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: $white;
    box-shadow: inset 0 0 0 3px $white;
    border-radius: 50px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      color: $pink;
      background-color: white;
    }

    &:active {
      color: rgba($pink, 0.5%);
    }
  }

  &--ios {
    margin-left: 36px;
    width: 47px;
    height: 56px;
    background: url("../img/logo-apple.svg") 50% 50% no-repeat;
  }

  &--android {
    width: 43px;
    height: 52px;
    background: url("../img/logo-android.svg") 50% 50% no-repeat;
  }

  &--windows {
    margin-right: 38px;
    width: 44px;
    height: 46px;
    background: url("../img/logo-microsoft.svg") 50% 50% no-repeat;
  }
}

.download__info {
  @include indent-reset;
  margin-top: 23px;
  text-align: center;
  font-weight: 100;
  color: $white;
}

@media (min-width: $tablet-width) {
  .download {
    position: absolute;
    bottom: 0;
    width: 300px;
    padding-bottom: 110px;
    background-color: transparent;
  }

  .download__list {
    width: 100%;
    margin-bottom: 36px;
  }

  .download__link {
    &--default {
      margin-bottom: 46px;
    }

    &--ios {
      margin-left: 45px;
    }

    &--windows {
      margin-right: 49px;
    }
  }

  .download__title {
    display: block;
    margin: 150px 30px 30px;
  }

  .download__info {
    font-size: 18px;
    line-height: 24px;
    color: rgba($white, 0.7%);
  }
}

@media (min-width: $desktop-width) {
  .download {
    padding-left: 130px;
    bottom: 13px;
  }

  .download__title {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px;
  }

  .download__list {
    margin-bottom: 55px;
  }

  .download__item--default {
    margin-bottom: 22px;
    font-size: 21px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}
