.edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $white;
}

.edit__text {
  width: 100%;
  margin: 0;
  padding: 23px 0 43px;
  text-align: center;
  line-height: 30px;
  color: $blue;
  background-color: $white;
}

.edit__wrapper {
  padding: 5px $content-padding 9px;
  width: 100%;
  background-color: $gray;
}

.edit__photo {
  text-align: center;
}

.edit__image {
  width: 280px;
  height: 374px;
}

.edit__list {
  @include list-reset;
  padding: 0 $content-padding;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #dddfe0;
}

.edit__type {
  margin: 19px 15px 71px;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;

  &--crop {
    background: url("../img/icon-editor-crop.svg") 50% 50% no-repeat;
  }

  &--fill {
    background: url("../img/icon-editor-fill.svg") 50% 50% no-repeat;
  }

  &--contrast {
    background: url("../img/icon-editor-contrast.svg") 50% 50% no-repeat;
  }

  &--crop::before {
    content: "";
    position: absolute;
    top: 104px;
    left: 40px;
    width: 240px;
    height: 2px;
    background-color: $black;
  }

  &--fill::before {
    content: "";
    display: none;
    position: absolute;
    top: 104px;
    left: 40px;
    width: 240px;
    height: 2px;
    background-color: $black;
  }

  &--contrast::before {
    content: "";
    display: none;
    position: absolute;
    top: 104px;
    left: 40px;
    width: 240px;
    height: 2px;
    background-color: $black;
  }

  &--crop::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 98px;
    left: 72%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $gray;
    box-shadow: inset 0 0 0 2px $pink;
  }

  &--fill::after {
    content: "";
    display: none;
    position: absolute;
    z-index: 1;
    top: 98px;
    left: 72%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $gray;
    box-shadow: inset 0 0 0 2px $pink;
  }

  &--contrast::after {
    content: "";
    display: none;
    position: absolute;
    z-index: 1;
    top: 98px;
    left: 72%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $gray;
    box-shadow: inset 0 0 0 2px $pink;
  }
}

.edit__control {
  display: none;
}

.edit__buttons {
  margin-bottom: -10px;
  padding: 37px $content-padding 33px;
  text-align: center;
}

.edit__button {
  width: 280px;
  padding: 14px 0 17px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $pink;
  border: 3px solid $pink;
  border-radius: 50px;
  background-color: $gray;

  &--disabled {
    border-color: #dddfe0;
    color: #e3e4e4;
  }
}

@media (min-width: $tablet-width) {
  .edit__wrapper {
    padding-top: 43px;
    padding-bottom: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .edit__text {
    padding: 44px 100px 69px;
    font-size: 18px;
  }

  .edit__image {
    width: 300px;
    height: 400px;
  }

  .edit__form {
    width: 273px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .edit__list {
    width: 273px;
    align-self: flex-start;
    padding: 0;
    border-bottom: none;
  }

  .edit__item {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dddfe0;
  }

  .edit__type {
    margin: 20px 0 20px;
    width: 26px;
    height: 30px;
    background-size: cover;

    &--crop {
      background-size: 24px 24px;
    }

    &--fill {
      margin: 23px 0 17px;
      background-size: 24px 24px;
    }

    &--contrast {
      background-size: 16px 16px;
    }

    &--crop::before {
      top: 33px;
      left: 53px;
      width: 202px;
    }

    &--fill::before {
      display: block;
      top: 35px;
      left: 53px;
      width: 202px;
    }

    &--contrast::before {
      display: block;
      top: 34px;
      left: 53px;
      width: 202px;
    }

    &--crop::after {
      top: 27px;
      left: 199px;
    }

    &--fill::after {
      display: block;
      top: 29px;
      left: 78px;
    }

    &--contrast::after {
      display: block;
      top: 28px;
      left: 149px;
    }
  }

  .edit__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 67px 0 7px;
  }

  .edit__button {
    width: 260px;
    margin-bottom: 24px;
    text-indent: -6px;
  }
}

@media (min-width: $desktop-width) {
  .edit__wrapper {
    margin: 0 130px;
    justify-content: space-around;
  }

  .edit__form {
    width: 410px;
  }

  .edit__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .edit__button {
    width: 48%;
  }

  .edit__type::before {
    width: 300px;
  }
}
