.edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $white;
}

.edit__text {
  width: 100%;
  margin: 0;
  padding: 23px 0 43px;
  text-align: center;
  line-height: 30px;
  color: $blue;
  background-color: $white;
}

.edit__wrapper {
  padding: 5px $content-padding 9px;
  width: 320px;
  background-color: $gray;
}

.edit__photo {
  text-align: center;
}

.edit__image {
  width: 280px;
  height: 374px;
}

.edit__list {
  @include list-reset;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #dddfe0;
}

.edit__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.edit__type {
  margin: 19px 15px 71px;
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.edit__control {
  display: none;
}

.edit__type-icon {
  width: 50px;
  height: 50px;
  margin: auto;
  fill: #b5b9be;

  &:hover,
  &:focus {
    fill: #8d949b;
  }

  &--fill {
    margin-top: 2px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &--active {
    fill: $pink;
  }
}

.edit__bar {
  position: absolute;
  bottom: 34px;
  left: 20px;
  width: 240px;
  height: 2px;
  background-color: $blue;
  cursor: pointer;

  &--fill,
  &--contrast {
    display: none;
  }
}

.edit__toggle {
  position: absolute;
  top: -6px;
  left: 192px;
  width: 10px;
  height: 10px;
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: $pink;
  }
}


.edit__buttons {
  margin-bottom: -10px;
  padding: 37px 0 33px;
  text-align: center;
}

.edit__button {
  width: 280px;
  padding: 14px 0 17px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $pink;
  border: 3px solid $pink;
  border-radius: 50px;
  background-color: $gray;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $pink;
    color: $white;
  }

  &:active {
    background-color: $pink;
    color: rgba($white, 0.3%);
  }

  &--disabled {
    border-color: #dddfe0;
    color: #e3e4e4;

    &:hover,
    &:focus {
      border-color: #b5b9be;
      background-color: $gray;
      color: #cdd0d3;
    }

    &:active {
      border-color: #b5b9be;
      background-color: #b5b9be;
      color: #cdd0d3;
      transition: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .edit__wrapper {
    width: 660px;
    padding: 43px $content-padding 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .edit__text {
    padding: 44px 100px 69px;
    font-size: 18px;
  }

  .edit__image {
    width: 300px;
    height: 400px;
  }

  .edit__form {
    width: 273px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .edit__list {
    width: 273px;
    align-self: flex-start;
    padding: 0;
    border-bottom: none;
  }

  .edit__item {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dddfe0;
  }

  .edit__type {
    margin: 20px 0;
    width: 26px;
    height: 30px;
  }

  .edit__type-icon {
    width: 24px;
    height: 24px;
    fill: $pink;

    &--fill {
      margin-top: 5px;
      width: 26px;
      height: 26px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }

    &:hover {
      fill: $pink;
    }
  }

  .edit__bar {
    width: 202px;
    left: 53px;

    &--fill,
    &--contrast {
      display: block;
    }
  }

  .edit__toggle {
    &--crop {
      left: 146px;
    }

    &--fill {
      left: 25px;
    }

    &--contrast {
      left: 96px;
    }
  }

  .edit__buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 67px 0 7px;
  }

  .edit__button {
    width: 260px;
    margin-bottom: 24px;
    text-indent: -6px;
  }
}

@media (min-width: $desktop-width) {
  .edit__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 66px;
  }

  .edit__wrapper {
    width: 940px;
    margin: 0 130px 27px;
    padding-right: 60px;
    padding-left: 80px;
    padding-bottom: 36px;
  }

  .edit__form {
    width: 410px;
    justify-content: space-between;
  }

  .edit__list {
    width: 100%;
  }

  .edit__type {
    margin: 10px 0 12px;
    width: 48px;
    height: 48px;
  }

  .edit__type-icon {
    width: 48px;
    height: 48px;

    &--contrast {
      width: 32px;
      height: 32px;
      margin-left: 6px;
    }
  }

  .edit__bar {
    width: 288px;
    left: 92px;
  }

  .edit__toggle {
    &--crop {
      left: 70px;
    }

    &--fill {
      left: 247px;
    }

    &--contrast {
      left: 160px;
    }
  }

  .edit__buttons {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .edit__button {
    width: 184px;
    padding-left: 12px;
  }
}
