.effect {
  position: relative;
  display: none;
  padding: 0;
  margin: 96px $content-padding 73px;
  background-color: $white;
}

.effect__wrapper {
  width: 50%;
  margin-left: auto;

  &::before {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 238px;
    height: 276px;
    background: url("../img/icon-timer.svg") 50% 50% no-repeat;
    background-size: 100% auto;
  }

  &::after {
    content: "24";
    position: absolute;
    left: 19px;
    bottom: -8px;
    width: 202px;
    height: 202px;
    text-align: center;
    font-size: 96px;
    line-height: 192px;
    font-weight: bold;
    color: $pink;
    box-shadow: inset 0 0 0 14px $pink;
    border-radius: 50%;
  }
}

.effect__title {
  margin: 0;
  width: 70%;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: $black;
}

.effect__text {
  margin: 10px 0;
  color: $blue;
}

.effect__link {
  color: $pink;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }


}

@media (min-width: $desktop-width) {
  .effect {
    padding-top: 70px;
    padding-left: 130px;
    padding-right: 130px;
    background-color: $gray;
  }

  .effect__wrapper {
    width: 61%;
    font-size: 18px;
    line-height: 30px;

    &::before {
      left: 130px;
      bottom: 55px;
      width: 298px;
      height: 345px;
    }

    &::after {
      width: 253px;
      height: 253px;
      left: 154px;
      bottom: 77px;
      font-size: 120px;
      line-height: 240px;
      box-shadow: inset 0 0 0 18px $pink;
    }
  }

  .effect__title {
    font-size: 30px;
  }

  .effect__text {
    margin: 20px 0 30px;
  }
}
