.form {
  line-height: 30px;
  background-color: $gray;
}

.form__group {
  margin: 0;
  padding: 16px $content-padding 40px;
  border: none;
  background-color: $white;

  &--check {
    padding-bottom: 20px;
    background-color: $gray;
  }

  &:last-of-type {
    padding-bottom: 38px;
    padding-top: 20px;
  }
}

.form__list {
  @include list-reset;
}

.form__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.form__text-label {
  padding: 16px 21px 5px;
  width: 100%;
  color: $pink;
  text-transform: uppercase;

  &--area {
    padding: 14px 0 10px;
    display: block;
    text-align: center;
  }
}

.form__text {
  width: 100%;
  padding: 22px 19px;
  border: 2px solid #e5e5e5;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $blue;
  }

  &--area {
    padding-top: 15px;
    box-sizing: border-box;
    min-height: 200px;
  }
}

.form__title {
  padding: 40px 20px 0;
  display: block;
  text-align: center;
  color: $pink;
  line-height: 18px;
  text-transform: uppercase;

  &--add {
    display: none;
  }
}

.form__choice {
  display: none;
}

.form__label {
  padding: 25px 0 27px 70px;
  color: $blue;
  font-size: 18px;

  &--radio {
    padding-top: 21px;
    padding-bottom: 25px;
  }

  &--check::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 23px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 0 2px #e5e5e5;
    background-color: $white;
  }

  &--radio::before {
    content: "";
    position: absolute;
    left: 2px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #e5e5e5;
    background-color: $white;
  }
}

.form__choice:checked + .form__label {
  &--check::before {
    background: $white url("../img/icon-yes.svg") 50% 50% no-repeat;
  }

  &--radio::before {
    width: 15px;
    height: 15px;
    background-color: $pink;
    border: 10.5px solid $white;
  }
}

.form__send {
  margin-bottom: 6px;
  padding: 0 $content-padding;
  background-color: $white;
}

.form__note {
  margin: 0;
  padding: 35px 0 0;
  text-align: center;
  text-transform: uppercase;
  color: $blue;

  span {
    color: $pink;
  }
}

.form__hide {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $white;
  }

  .form__group {
    margin: 20px;
    padding: 20px 60px;
    background-color: $white;
    border: 2px solid $gray;
    order: 3;

    &--checkbox {
      order: 4;
    }

    &--radio {
      order: 2;
    }

    &--name {
      padding: 0;
      border: none;
      order: 1;
    }

    &--text-area {
      order: 5;
    }
  }

  .form__group--name .form__text-label {
    padding-left: 0;
  }

  .form__title {
    padding-top: 0;

    &--add {
      display: block;
    }
  }

  .form__item--name .form__text-label {
    width: auto;
  }

  .form__item--name .form__text {
    width: auto;
    margin: 20px 0;
    flex-grow: 1;
  }

  .form__item--contacts .form__text {
    order: -1;
    margin-top: 10px;
  }

  .form__send {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .form__note {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-left: 110px;
    padding-right: 110px;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__group {
    width: 100%;
    margin: 20px 0;

    &--name {
      width: 450px;
    }

    &--radio {
      width: 340px;
    }
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__list--contacts .form__item {
    width: 46%;
  }

  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list--checkbox .form__item {
    flex-grow: 1;
    width: 33%;
    order: 1;

    &:nth-child(2n) {
      order: 2;
    }
  }

  .form__send {
    width: 100%;
  }

  .form__note .form__hide {
    display: inline;
    color: $blue;
  }
}
