.form {
  line-height: 30px;
  background-color: $gray;
}

.form__group {
  margin: 0;
  padding: 16px 0 40px;
  border: none;
  background-color: $white;

  &--check {
    padding-bottom: 21px;
    background-color: $gray;
  }

  &--radio {
    padding-bottom: 24px;
  }

  &--text-area {
    padding: 20px 0 38px;
    background-color: $white;
  }
}

.form__list {
  @include list-reset;
  padding: 0 $content-padding;
}

.form__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.form__text-label {
  padding: 16px 22px 5px;
  width: 100%;
  color: $pink;
  text-transform: uppercase;

  &--area {
    padding: 14px 0 10px;
    display: block;
    text-align: center;
  }
}

.form__text {
  width: 100%;
  padding: 24px 20px 20px;
  border: 2px solid #e5e5e5;
  transition: all 0.3s ease-in;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $blue;
  }

  &--area {
    width: 280px;
    margin: -4px 20px 0;
    padding-top: 15px;
    padding-left: 18px;
    min-height: 200px;
    box-sizing: border-box;
  }

  &:hover {
    border-color: $blue;
  }

  &:focus,
  &:active {
    border-color: $pink;
  }
}

.form__title {
  display: block;
  width: 280px;
  padding: 40px 20px 0;
  margin: 0;
  text-align: center;
  color: $pink;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;

  &--add {
    display: none;
  }

  &--text-area {
    padding: 38px 0 0;
    width: 320px;
    background-color: $white;
  }
}

.form__choice {
  display: none;
}

.form__label {
  padding: 25px 0 27px 70px;
  color: $blue;
  font-size: 18px;

  &--radio {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  &--check::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 23px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 0 2px #e5e5e5;
    background-color: $white;
    transition: box-shadow 0.3s ease-in;
  }

  &--radio::before {
    content: "";
    position: absolute;
    left: 2px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #e5e5e5;
    background-color: $white;
    transition: box-shadow 0.3s ease-in;
  }
}

.form__choice:checked + .form__label {
  &--check::before {
    background: $white url("../img/icon-yes.svg") 50% 50% no-repeat;
  }

  &--radio::before {
    width: 16px;
    height: 16px;
    background-color: $pink;
    border: 9.5px solid $white;
  }
}

.form__item:hover .form__label::before,
.form__item:focus .form__label::before {
  box-shadow: 0 0 0 2px $blue;
}

.form__item:active .form__label::before {
  box-shadow: 0 0 0 2px $pink;
  transition: none;
}

.form__send {
  margin-bottom: 6px;
  padding: 0 $content-padding;
  background-color: $white;
}

.form__note {
  margin: 0;
  padding: 35px 0 0;
  text-align: center;
  text-transform: uppercase;
  color: $blue;

  span {
    color: $pink;
  }
}

.form__hide {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $white;
  }

  .form__group {
    margin: 20px 20px 38px;
    padding: 20px 60px 42px;
    background-color: $white;
    border: 2px solid #e5e5e5;
    order: 3;

    &--checkbox {
      order: 4;
      padding-bottom: 28px;
    }

    &--radio {
      order: 2;
    }

    &--name {
      margin-bottom: 7px;
      padding: 0;
      border: none;
      order: 1;
    }

    &--contacts {
      padding-left: 58px;
      padding-right: 58px;
      padding-bottom: 16px;
    }

    &--text-area {
      order: 5;
      padding: 40px 38px 40px;
    }
  }

  .form__list {
    padding: 0;
  }

  .form__title {
    padding: 0 25px;
    width: auto;

    &--add {
      display: block;
    }
  }

  .form__group--name .form__text-label {
    width: auto;
    padding-left: 0;
    padding-right: 18px;
  }

  .form__item--name .form__text {
    width: auto;
    margin: 21px 0 31px;
    padding: 23px 20px 20px;
    flex-grow: 1;
  }

  .form__group--contacts .form__text-label {
    padding: 10px 19px;

    &::after {
      content: "";
      position: absolute;
      top: 17px;
      right: 0;
      display: block;
      width: 62px;
      height: 64px;
      background: #e5e5e5 url("../img/icon-phone.svg") 50% 50% no-repeat;
      background-size: 20px 19px;
    }

    &--email::after {
      background-image: url("../img/icon-mail.svg");
      background-size: 18px 13px;
    }
  }

  .form__item--contacts .form__text {
    order: -1;
    margin-top: 17px;
  }

  .form__text--area {
    width: 500px;
    min-height: 194px;
  }

  .form__label {
    padding: 28px 57px 17px;

    &--check {
      padding-bottom: 24px;
    }
  }

  .form__send {
    margin: 29px 0 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .form__note {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-left: 130px;
    margin-right: 130px;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__group {
    width: 100%;
    margin: 0 0 57px;

    &--name {
      width: 435px;
    }

    &--radio {
      width: 435px;
      padding: 25px 0 0;
      box-sizing: border-box;
    }

    &--contacts {
      padding: 17px 58px 2px;
    }

    &--checkbox {
      padding-bottom: 36px;
    }

    &--text-area {
      padding: 34px 58px 33px;
    }
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--name {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .form__list--name .form__text {
    margin-bottom: 40px;
    margin-top: 13px;
    padding: 23px 21px 20px;
  }

  .form__item--name:last-child .form__text {
    margin-bottom: 0;
  }

  .form__label--radio {
    padding: 25px 133px 19px;

    &::before {
      left: 76px;
      top: 23px;
    }
  }

  .form__list--contacts .form__item {
    width: 375px;
  }

  .form__list--contacts .form__text {
    padding: 23px 18px 21px;
  }

  .form__list--contacts .form__text-label {
    padding-left: 19px;
  }

  .form__list--checkbox .form__item {
    order: 1;

    &:nth-child(2n) {
      order: 2;
    }

    &:nth-child(1) {
      flex-grow: 12;
    }

    &:nth-child(2) {
      flex-grow: 3;
    }

    &:nth-child(3) {
      flex-grow: 11;
    }

    &:nth-child(4) {
      flex-grow: 2;
    }

    &:nth-child(5) {
      flex-grow: 1;
    }
  }

  .form__label--check {
    padding-right: 0;

    &::before {
      top: 26px;
      left: 0;
    }
  }

  .form__text--area {
    margin: 0;
    width: 100%;
    min-height: 128px;
  }


  .form__send {
    width: 100%;
    padding: 0;
    margin: 8px 0 0;
  }

  .form__note .form__hide {
    display: inline;
    color: $blue;
  }
}
