.information {
  position: relative;
  background-color: $gray;
  color: $blue;
  text-align: center;
  overflow: hidden;
}

.information__header {
  margin: 0;
  padding: 15px $content-padding 5px;
  font-size: 24px;
  line-height: 30px;
  background-color: $white;
  font-weight: lighter;
}

.information__intro {
  margin-bottom: 27px;
  text-align: center;
}

.information__list {
  @include list-reset;
  padding: 80px $content-padding 288px;
  background: $gray url("../img/bg-triangle-white.svg") -5px -1px no-repeat;
  background-size: 110% auto;
}

.information__item {
  text-align: center;
}

.information__title {
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.information__text {
  margin-top: 12px;
  margin-bottom: 31px;
}

.information__image {
  position: absolute;
  bottom: -42px;
  left: 82px;
}

@media (min-width: $tablet-width) {
  .information__header {
    font-size: 40px;
    line-height: 48px;
  }

  .information__intro {
    margin-bottom: 0;

    &:nth-child(2) {
      width: 500px;
      margin: 0 auto;
    }
  }

  .information__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 0;
  }

  .information__item {
    width: 50%;
    text-align: left;
  }

  .information__text {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .information__list {
    padding-left: 130px;
    padding-right: 130px;
    flex-direction: row;
    justify-content: space-between;
  }

  .information__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 32%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .information__title {
    font-size: 30px;
    line-height: 30px;
  }

  .information__text {
    width: 270px;
    margin-top: 24px;
    margin-bottom: 90px;
  }

  .information__image {
    position: relative;
    bottom: 50px;
    left: 0;
  }
}
