.page-header {
  @include indent-reset;
}

.page-header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  margin: 0;
  padding: 21px $content-padding 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $blue;
  border-top: 1px solid #485461;
  border-bottom: 1px solid $black;
  box-sizing: border-box;
}

.page-header__logo-image {
  width: 76px;
  height: 22px;
  fill: $white;
}

.page-header__logo:not(.page-header__logo--current):hover .page-header__logo-image,
.page-header__logo:not(.page-header__logo--current):focus .page-header__logo-image {
  fill: $pink;
}

.page-header__logo:not(.page-header__logo--current):active .page-header__logo-image {
  fill: $white;
  opacity: 0.3;
}

.page-header__toggle {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.page-header__toggle-image {
  width: 24px;
  height: 24px;
  fill: $white;
}

.page-header__toggle:hover .page-header__toggle-image,
.page-header__toggle:focus .page-header__toggle-image {
  fill: $pink;
}

.page-header__toggle:active .page-header__toggle-image {
  fill: $white;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding-top: 26px;
    padding-bottom: 37px;
    align-items: flex-end;
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }

  .page-header__toggle {
    height: 32px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .page-header__wrapper {
    padding: 27px 130px 36px;
    background-color: rgba($black, 0.3%);
    border: none;
  }

  .page-header__toggle {
    display: none;
  }
}
