.page-footer {
  padding: 40px 0;
  text-align: center;

  &--index {
    display: none;
  }

  &--form {
    padding-top: 49px;
  }
}

.page-footer__logo-image {
  width: 146px;
  height: 40px;
  fill: $blue;

  &:hover,
  &:focus {
    fill: $pink;
  }

  &:active {
    fill: $blue;
    opacity: 0.3;
  }

  &--current:hover,
  &--current:focus {
    fill: $blue;
  }

  &--current:active {
    opacity: 1;
  }
}


.page-footer__social {
  @include list-reset;
  padding: 36px 0;
}

.page-footer__author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__text {
  margin-right: 15px;
  line-height: 18px;
  color: $blue;
  font-style: normal;
}

.page-footer__link {
  display: block;
  width: 26px;
  height: 34px;
}

.page-footer__link-logo {
  fill: $pink;

  &:hover,
  &:focus {
    fill: $blue;
  }

  &:active {
    fill: #bec2c7;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0 $content-padding 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-footer__social {
    padding-right: 20px;
    padding-top: 41px;
  }

  .page-footer__author {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 32px 130px 30px;
  }

  .page-footer__social {
    padding: 46px 0 31px 5px;

    &--photo {
      padding-left: 11px;
    }

    &--form {
      padding: 45px 0 32px 15px;
    }
  }

  .page-footer__text {
    font-size: 18px;
  }

  .page-footer__link {
    padding-top: 7px;
  }
}
