.photo__title {
  margin: 0;
  padding: 99px 10% 81px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: $white;
  background: url("../img/bg-back-mobile@1x.jpg") center 0 no-repeat;
  background-size: 100% auto;
}

.photo__text {
  padding: 32px 35px 34px;
  text-align: center;
  line-height: 30px;
  color: $blue;
}

.photo__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
}

.photo__link--panorama::before {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: $content-padding;
  min-width: 140px;
  padding: 6px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $pink;
}

.photo__comment-wrapper {
  width: 100%;
  flex-grow: 1;
  margin: -7px 20px 20px;
  padding: 18px 10px 19px 17px;
  background-color: $gray;
  color: $blue;
  box-sizing: border-box;
}

.photo__image {
  width: 100%;
}

.photo__comment {
  margin: 0;
  width: 100%;
}

.photo__author-wrapper {
  margin: 0;
}

.photo__comment-author {
  font-style: normal;
  font-weight: bold;
}

.photo__comment-time {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.photo__comment-text {
  margin: 0;
}

.photo__comment-like {
  position: relative;
  margin: 10px 32px 0;
  font-size: 12px;
  color: $pink;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 6px;
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg");
  }
}

@media (min-width: $tablet-width) {
  .photo__title {
    font-size: 50px;
    line-height: 60px;
  }

  .photo__text {
    padding-left: 110px;
    padding-right: 110px;
  }

  .photo__list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .photo__item {
    width: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    &--panorama {
      width: 100%;
    }
  }

  .photo__comment-wrapper {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo__list {
    padding: 0 130px;
  }

  .photo__item {
    width: 300px;
    margin-bottom: 54px;

    &--panorama {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .photo__comment-wrapper {
    max-width: 900px;
  }
}
