.popup {
  margin: 40px 0;
  text-align: center;
  color: $blue;
  box-shadow: 0 15px 15px rgba($black, 0.15%), 0 -5px 15px rgba($black, 0.15%);
  &--gray {
    background-color: $gray;
  }
}

.popup__wrapper {
  padding: 20px $content-padding;
  background-color: $white;
}

.popup__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: $black;
}

.popup__button {
  margin: 40px $content-padding;
  width: 100% - ($content-padding * 2)
}
