.price {
  padding: 90px $content-padding 6px;
  overflow: hidden;
  background: $gray url("../img/bg-triangle-white.svg") 5% -1px no-repeat;
  background-size: 105% auto;
}

.price__list {
  @include list-reset;
  transform: translateX(-100%);
  display: flex;
}

.price__item {
  width: 278px;
  flex-shrink: 0;
  margin: 0 1px 20px;
  padding: 0;
  background-color: $gray;
  line-height: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.price__header {
  position: relative;
  padding: 16px 0 21px;
  background-color: $blue;
  color: $white;
  text-align: center;

  &--is-hit::before {
    content: url("../img/bg-hit.svg");
    position: absolute;
    top: 0;
    left: 0;
  }

  &--is-hit::after {
    content: "ХИТ";
    position: absolute;
    top: 11px;
    left: 10px;
    transform: rotate(-45deg);
  }
}

.price__title {
  margin: 0;
  font-size: 18px;
}

.price__value {
  margin: 2px 0 0;
  font-size: 24px;
  font-weight: lighter;
}

.price__options {
  @include list-reset;
  position: relative;
  text-align: left;
}

.price__option {
  padding: 15px 22px 14px;
  margin-bottom: 2px;
  background-color: $white;
  outline: 2px solid #e5e5e5;

  &::after {
    content: "";
    position: absolute;
    right: 17px;
    width: 31px;
    height: 31px;
    background: url("../img/icon-yes.svg") 50% 50% no-repeat;
    background-size: 31px 23px;
  }

  &--unavailable::after {
    background-image: url("../img/icon-no.svg");
    background-size: 30px 30px;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-bottom: 48px;
  }

  .price__header {
    position: relative;
    z-index: 10;
    padding-top: 12px;
    padding-bottom: 1px;

    &--is-hit::before {
      content: url("../img/bg-hit-tablet.svg");
    }

    &--is-hit::after {
      top: 4px;
      left: 6px;
    }

    &--border-start {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &--border-end {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .price__value {
    margin: -3px -1px 10px 0;
    font-size: 18px;
  }

  .price__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .price__list {
    transform: translateX(0);
  }

  .price__item {
    width: 153px;
  }

  .price__item:first-child .price__option {
    &:nth-child(1)::before {
      content: "Розовый фильтр";
      padding: 8px 15px 7px;
      position: absolute;
      width: 123px;
      left: -155px;
      top: 0;
      font-size: 14px;
      text-transform: none;
      background-color: $white;
      outline: 2px solid #e5e5e5;
    }

    &:nth-child(2)::before {
      content: "Смайлики";
      padding: 8px 15px 7px;
      position: absolute;
      width: 123px;
      left: -155px;
      top: 47px;
      font-size: 14px;
      text-transform: none;
      background-color: $white;
      outline: 2px solid #e5e5e5;
    }

    &:nth-child(3)::before {
      content: "Комментарии";
      padding: 8px 15px 7px;
      position: absolute;
      width: 123px;
      left: -155px;
      bottom: 0;
      font-size: 14px;
      text-transform: none;
      background-color: $white;
      outline: 2px solid #e5e5e5;
    }
  }

  .price__title {
    font-size: 16px;
  }

  .price__option {
    padding: 8px 0 7px;
    font-size: 0;

    &::after {
      right: 50%;
      transform: translateX(50%);
    }
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 157px 130px 75px;
  }

  .price__item {
    width: 233px;
  }

  .price__header {
    padding-top: 16px;
    padding-bottom: 10px;

    &--is-hit::before {
      content: url("../img/bg-hit.svg");
      position: absolute;
      top: 0;
      left: 0;
    }

    &--is-hit::after {
      content: "ХИТ";
      position: absolute;
      top: 11px;
      left: 10px;
      transform: rotate(-45deg);
    }
  }

  .price__title {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
  }

  .price__option {
    min-height: 59px;
    padding: 14px 0 15px;
    box-sizing: border-box;
  }

  .price__item:first-child .price__option {
    &:nth-child(1)::before {
      min-height: 59px;
      left: -236px;
      width: 234px;
      padding: 14px 22px 15px;
      font-size: 18px;
      box-sizing: border-box;
    }

    &:nth-child(2)::before {
      min-height: 59px;
      top: 61px;
      left: -236px;
      width: 234px;
      padding: 14px 22px 15px;
      font-size: 18px;
      box-sizing: border-box;
    }

    &:nth-child(3)::before {
      min-height: 59px;
      left: -236px;
      width: 234px;
      padding: 14px 22px 15px;
      font-size: 18px;
      box-sizing: border-box;
    }
  }
}
