.reviews {
  position: relative;
  margin: 0;
  padding: 0 $content-padding;
}

.reviews__list {
  padding-top: 42px;
  display: flex;
  overflow: hidden;
}

.reviews__item {
  width: 100%;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $blue;
  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: $black;
}

.reviews__author-info {
  display: none;
}

.reviews__text {
  margin: 10px 0 15px;
}

.reviews__arrows {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews__author {
    width: 100%;
    order: 1;
  }

  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__author-info {
    display: block;
    margin: 0;
  }

  .reviews__text {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__list {
    padding-top: 174px;
    padding-bottom: 32px;

    &::before {
      content: url("../img/icon-quotes.svg");
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    margin-top: -3px;
    font-size: 18px;
  }

  .reviews__text {
    width: 60%;
    margin-bottom: 37px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__arrows {
    display: inline;
  }

  .reviews__arrow {
    position: absolute;
    width: 30px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--previous {
      left: 123px;
      top: 205px;
    }

    &--next {
      right: 128px;
      top: 205px;
    }
  }

  .reviews__arrow-image {
    width: 22px;
    height: 42px;
    fill: #bec2c7;

    &:hover,
    &:focus {
      fill: #7e868f;
    }

    &:active {
      fill: #e9ebec;
    }
  }
}
