.slider__toggles {
  margin: 7px auto 42px;
  text-align: center;
}

.slider__toggle {
  padding: 0;
  margin: 0 8px;
  width: 6px;
  height: 6px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: #bec2c7;

  &--default {
    box-shadow: 0 0 0 3px $black;
  }
}
