@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 100;
  font-family: "Open Sans";
  font-style: normal;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $blue;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: $mobile-width) {
  body {
    max-width: 320px;
  }
}

@media (min-width: $tablet-width) {
  body {
    max-width: 660px;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: 1200px;
  }
}
