$blue: #283645;
$pink: #d22856;
$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$content-padding: 20px;
$desktop-padding: 130px;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
